
.infMovies{


background-color: rgb(41, 41, 41);
height: 600px;
width: 100%;
padding-top: 100px;
display: flex;


}
.image_movie_card{


background-color: rgb(41, 41, 41);

height: 450px;
width: 300px;
margin-left: 100px;
display: grid;


}

.movie_info_trailer{


height: 450px;
background-color: rgb(41, 41, 41);
width: 700px;
margin-left: 100px;
display: flex;
align-items: center;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);




}
.movie_info{
padding: 30px;
width: 100%;
height: 300px;
background-color: rgb(12, 12, 12);
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

}
.cast{

width: 100%;
height: 320px;
background-color: rgb(19, 19, 19);
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);


}

.similar_movies{


width: 100%px;
height: 270px;
background-color: rgb(73, 23, 0);
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);



}
.movie-poster-detail{

height: 350px;
margin-left: 35px;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);



}
.nota{
text-align: center;
color: rgb(255, 255, 255);
font-size: 30px;


}

.tittle_movie_img{
text-align: center;
position: relative;
font-size: 25px;
color: white;



}
.sinopse{
color: white;
text-align: justify;



}
.tittle_movie{
color: white;
font-size: 15px;

}
.movietrailerdiv{
 height: 450px;
 width: 700px;
 box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

}


.cast-photo {
margin-left: 50px;
height: 200px;
margin-top: 41px;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

}
 .swiperslide-cast{
height: 300px;
width: 100px;
}
.actor-name{

text-align:  center;
color: white;
font-size: 20px;
padding: 10px;
margin-right: 25px;
}
.swiper-similar-movies{

height: 270px;


}
.swiperslide-similar-movies{

padding: 10px;
height: 400px;

    
}

.similar-card{
margin-left: 35px;
height: 400px;

}
.similar-photo{

    height: 250px;
    width: 170px;
    
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);

}



